*,*::before, *::after{
  box-sizing: border-box;
}

@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/titillium/Titillium-Light.otf);
}
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/titillium/Titillium-Regular.otf);
}
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/titillium/Titillium-Semibold.otf);
}
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/titillium/Titillium-Bold.otf);
}


body{
  background: url(../assets/bg1.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: "Titillium", "Segoe UI", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  color: rgb(250,250,250);
}

main{
  perspective: 250px;
  perspective-origin: 100% 14%;
}

.float-right{
  float: right;
}
.divider-left{
  border-left: 2px solid transparentize($color-darkGray, 0.6);
}
.divider-top{
  border-top: 2px solid transparentize($color-darkGray, 0.6);
}
