.header{
  margin-bottom: 40px;

  .player-position{
    background: transparentize($color-darkGray, 0.6);
  }

  .base-info-medical{
    background: linear-gradient(to left, rgba(110,117,110,0.4) 0%,rgba(110,117,110,0) 100%);

    .supplies-count{
      color: $color-green;
    }
  }

  .base-info-tech{
    background: transparentize($color-darkGray, 0.6);

    .supplies-count{
     color: $color-orange;
   }
  }

  .base-info-security{
    background: linear-gradient(to right, rgba(110,117,110,0.4) 0%,rgba(110,117,110,0) 100%);

    .supplies-count{
      color: $color-blue;
    }
  }

  .player-position{
    border-radius: 10px 0 0 10px;
    float: left;
  }
  .player-position__text{
    font-size: 20px;
    padding-right: 3px;
  }
  .player-position__icon{
    margin-right: 10px;
    svg{
      width: 21px;
      margin-bottom: -4px;
    }
  }

  .base-info{
    width: 85%;
    margin: 0 7.5%;

    .icon{
      filter: url(#shadow);
    }
  }

  .completion{
    font-size: 1.1em;
    color: $color-darkGray;
    margin: 0 .2rem;
  }


  .supplies-count{
    margin: 0 .5em;
    font-size: 1.1em;
  }
}
