.icon{
  width: 32px;
  margin-right: 4px;
  margin-bottom: -10px;
}
.icon--smallest{
  width: 14px;
  margin-bottom: 1px;
}
.icon--medium{
  width: 28px;
  margin-bottom: -8px;
}
.icon--small{
  width: 16px;
  margin-bottom: 0px;
}
.icon--big{
  width: 48px;
  margin-bottom: -16px;
}
