.menu{
	transition: all .2s ease-out;
	position: relative;
	top: 50px;
	max-width: 1024px;

	> .row{
		margin-bottom: 35px;
		margin-top: 15px;
	}
}

@media #{$medium-and-up} {
	.menu--3d{
		transform: rotateY(-1.33deg) translateX(-53px);
		transform-origin: 100% 16%;
	}
}

@media #{$small-and-down} {
  .menu{
		top: 0;
		right: auto;
		max-width: 98vw;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
