.progressbar{
  margin: 5px 0;
  width: 100%;
  height: 5px;
  background: rgb(60,60,60);
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.progressbar__indicator{
  height: 100%;
  background: rgb(140,140,140);
}
