.tile{
  width: 100%;
  position: relative;
  display: inline-block;
  perspective: 75px;
  background: rgba(62,62,62,0.6);
  border-bottom: 1px solid rgba(200,200,200,0.3);
  cursor: default;

  h4{
    margin: 0.2em 0 .5em 0;
    font-weight: 300;
    font-size: 1.1rem;
  }
}

.tile-header{
  background: rgba(175,175,175,0.4);
  padding: .65rem;
  font-weight: 400;
  font-size: 1.5em;
  text-align: center;
  transition: all .1s ease-out;
  transform: translate3d(-3px,0,1px);

  &:before{
    content: "";
    width: 100%;
    height: 7px;
    background: #ee8624;
    transition: all 100ms ease-out;
    display: block;
    position: absolute;
    opacity: 0;
    transform: scale(0) translate(-10px,-20px);
    transform-origin: 0 -50%;
  }
}
.tile-content{
  padding: 1em;
}

.tile--disabled{
   cursor: default;
}
.tile--has-child{
  cursor: pointer;
}
.tile--has-content .tile-content{
  height: 120px;
}

.tile--active .tile-header,
.tile:hover .tile-header{
  transform: translate3d(-5px,0,2px);
  background: transparentize($color-orange, 0.6);

  &:before{
    opacity: 1;
    transform: scale(1) translate(-10px,-20px);
  }
}

.tile--intel .progressbar{
  margin: 13px 0;
}

.group__members-icons{
  float: right;
}
.group__text{
  margin-top: -2px;
  margin-bottom: 6px;
}

.mission__distance{
  margin-right: .75em;
}
.current-mission__icon{
  margin-right: 7px;

  .icon{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 3px;
    background: transparentize($color-orange, 0.8);
    border-radius: 50%;
    box-sizing: border-box;
  }
}
.current-mission__text{
  display: inline-block;
  vertical-align: top;
  height: 22px;
  padding: 0 .5em;
  background: transparentize($color-orange, 0.8);
}
.mission--medical{ color: $color-green;}
.mission--tech{ color: $color-orange;}
.mission--security{ color: $color-blue;}

@media #{$small-and-down} {
    .tile{
      margin-bottom: 20px;
    }
}
